<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container w-50">
        <div class="page-heading">
            <h1>Update book</h1>
        </div>
        <form action="/book/update" method="POST" enctype="multipart/form-data">
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <input type="hidden" class="form-control" id="id" name="id" value="<%=book.id%>">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>title</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%=book.title%>">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Description</label>
                    <input type="text" class="form-control" id="description" name="description" value="<%=book.description%>">
                </div>
            </div>
            <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                    <label>Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="<%=book.author%>">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    
</body>
</html>